<footer class="site-footer">

  <!-- Contact Buttons -->
  <div class="site-contact">
    <p class="contact-text">Contact Me:</p>
    <div class="site-email">
      <a class="contact-link" href="mailto:{{ site.email }}">
        <img class="icon-email" src="/images/gmail.png"alt="gmail icon" />
        <span>Email</span>
      </a>
    </div>
    <div class="site-linkedin">
      <a class="contact-link" href="{{ site.linkedin_profile_link }}">
        <img class="icon-linkedin" src="/images/linkedin.png"alt="linkedin icon" />
        <span>LinkedIn</span>
      </a>
    </div>
    <div class="site-twitter">
      <a class="contact-link" href="http://twitter.com/{{ site.twitter_username }}">
        <img class="icon-twitter" src="/images/twitter.jpg"alt="twitter icon" />
        <span>Twitter</span>
      </a>
    </div>
    <div class="site-github">
      <a class="contact-link" href="https://github.com/{{ site.github_username }}">
        <img class="icon-github" src="/images/github.png"alt="github icon" />
        <span>GitHub</span>
      </a>
    </div>
  </div>

  <!-- Site Copyright -->
  <div class="footer-bar">
    <div class="site-copyright">{{ site.copyright }}</div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67255334-2', 'auto');
  ga('send', 'pageview');

</script>
