.site-footer{

  // Contact Buttons
  .site-contact{
    font-family: $menu-font-family;
    font-weight: 300;
    font-size: 0.875rem;
    color: black;
    width: 12.8125rem;
    margin: 0 auto;
    
    .contact-text{
      text-align: center;
    }

    .site-email,
    .site-linkedin,
    .site-twitter {
      display: inline-block;
      height: 3.75rem;
      width: 3.4375rem;
      margin: 5px;
    }

    .contact-link{
      color: black;
      height: 100%;
      width: 100%;
      text-align: center;

      .icon-email,
      .icon-linkedin,
      .icon-twitter {
        border-bottom: 2px solid rgba(0,0,0,0.5);
        border-radius: 3px;
        width: 2.1875rem;
        margin-left: 0.635rem;
        margin-right: 0.625rem;
      }
      .icon-email {
        padding-top: 5px;
        margin-bottom: 5px;
      }

      span {
        display: block;
        text-align: center;
      }
    }
  }

  //Footer Bar
  .footer-bar {
    font-family: $menu-font-family;
    font-weight: 400;
    color: $menu-text-color;
    background: $brand-color;
    height: 2.1875rem;
    
    .site-copyright {
      display: block;
      padding: 5px 10px;
    }

    @media (min-width: 600px) {
      height: 50px;

      .site-copyright {
        padding: 12.5px 10px;
      }
    }
  }
}










