ul.post {
  
  .post-item {
    
    .post-title {
      font-family: $menu-font-family;
      font-size: 2rem;
    }

    .post-meta {
      font-family: $base-font-family;
      font-size: 0.5rem;
    }
  }
}