
.page-content{
  
  p, h1, h2, h3 {
    font-size: 1.1rem;
    margin: 0 1.25rem 1rem;
  }

  h2 {
    font-weight: 500;
    font-size: 1.35rem;
    padding-top: 1.5rem;
    margin-bottom: 0;
  }

  h3 {
    color: $brand-color;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  h3 a {
    color: $brand-color;
    text-decoration: underline;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin: 1.5rem 1rem 0;
  }

  @media (min-width: 600px) {
    p, h1, h2, h3, hr {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}


// Skills page specific styles

.skillLevels {

  ul li {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 2rem;
    padding: 0 1rem;
    height: 1.4rem;
    border-radius: 0.7rem;
    background: $brand-color;


    span {
      padding-right: 0.5rem;
    }
  }

  @media (min-width: 600px) {
    ul li {
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
  }
}


// About page specific styles

.aboutPage {

  .about-pic {
    display: block;
    height: 150px;
    border-radius: 50%;
    margin: 5px auto;
  }

  @media (min-width: 600px) {
    .about-pic {
      height: 175px;
      margin-right:1.5rem;
      display: inline-block;
      float: left;
    }
  }
}









